<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="back('../home')"> </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="avatar">
    <ion-avatar >
      <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG7pDsJaOqnDF5tjcsy16Y-kqhOqUxiOnDFA&usqp=CAU" />
    </ion-avatar>

  </div>
  <h2>Elis Valentino</h2>

  <div class="grid">
    <ion-grid>
      <ion-row>
        <ion-col size="4" >
          <ion-button fill="outline" color="dark">Aviso
            <br>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>

          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="outline" color="dark">Ligar
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="outline" color="dark">Vídeo
            <ion-icon name="videocam-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>

    <ion-item>
      <ion-label>(14) 99856-0123</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>elisvalentino@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-input label="Recado:" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-list>


</ion-content>
