ion-icon {
  font-size: 25px;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  ion-avatar{
    height: 170px;
    width: 170px;

  }
}

h2{
  text-align: center;
}

  ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-button{
    color: black;


ion-icon{
  margin-left: 6px;
}

  }
